@charset "utf-8";
/* 京东 */
/*内容部分的宽度*/
.wrapper{width:990px;margin:0 auto;font-family:'Microsoft Yahei';color:#666;}
/*头部最上面样式*/
.header_top{height:30px;background:#f1f1f1;}
.address{position:relative;}
.address p{height:29px;line-height:28px;padding-left:10px;position:relative;z-index:3;border:1px solid #f1f1f1;border-bottom:none;}
#box{position:absolute;left:0;top:29px;border:1px solid #ccc;z-index:2;
		padding:12px 0 8px 10px;width:301px;display:none;background:#fff;}
#box li{width:60px;float:left;}
#box li a{color:#666;float:left;padding:6px 9px 6px 8px;margin-bottom:4px;}
#box a:hover{background:red;color:#fff;}
.address .place{background-color:#fff;padding-right:20px;
	   border:1px solid #ccc;
	   border-bottom:0;
	   height:29px;}
.login{margin-top:9px;}
.login li{padding:0 13px 0 10px;border-right:1px solid #ddd;float:left;position:relative;}
#last1{border-right:0;padding-right:10px;}
.bg_jiao{background:url(/html/jd/img/jiao.png) no-repeat right center;padding-right:17px;}

.zhuce{color:#c81623;margin-left:7px;}
.bg_phone{width:15px;height:20px;background:url(/html/jd/img/1bg.png);margin-top:-5px;margin-right:3px;}
.login li a:hover{color:#c81623;}
li a:hover .bg_phone{background-position:0 -25px;}
.xiala{position:absolute;left:-1px;top:12px;
	border:1px solid #ddd;height:80px;width:100%;
	border-top:none;background:#f1f1f1;
	display:none;z-index:2;}
.list .xiala{display:block;}

/*头部中间样式*/
.pad_25px{padding-top:25px;}
.logo{background:url(/html/jd/img/logo.png);width:270px;height:60px;text-indent:-999em;position:relative;}
.donghua{position:absolute;right:0;top:-10px;}
.logo a{display:block;width:270px;height:60px;}
.search{width:462px;margin-left:95px;}
.search_b{padding-top:8px;}
.search_b a i{color:#c81623;}
.search_b a{float:left;margin-right:10px;}
.search_b a:hover{color:#c81623;}
.txt{width:374px;height:32px;border:2px solid #b61d1d;outline:none;
	line-height:32px;padding-left:4px;font-size:14px;}
.sou{height:36px;line-height:36px;background:#b61d1d;padding:0 25px 0 23px;font-size:16px;color:#fff;}

/*购物车样式*/
.buycar{width:139px;border:1px solid #dfdfdf;position:relative;}
.buycar a{height:24px;width:125px;padding:10px 0 0 14px;display:block;
		background:url(/html/jd/img/jiao2.png) no-repeat 123px center #f9f9f9;}
.buycar .car{width:17px;height:13px;background:url(/html/jd/img/1bg.png) left -59px;margin-right:9px;}
.shopping{position:relative;}
.hua{position:absolute;right:-10px;top:-14px;display:inline-block;background:#c81623;line-height:14px;color:#fff;}
.hua .l{position:absolute;left:-7px;top:0;width:7px;height:14px;background:url(/html/jd/img/hua_bg.png);}
.hua .r{position:absolute;right:-7px;top:0;width:7px;height:14px;background:url(/html/jd/img/hua_bg.png) -23px top;}
.shop{position:absolute;right:-1px;top:35px;border:1px solid #dedede;
		height:60px;width:300px;line-height:30px;text-align:center;background:#fff;display:none;}
.buycar .action{background-color:#fff;height:35px;position:relative;z-index:1;}


/*导航样式*/
.header_b{border-bottom:2px solid #b1191a;}
.nav{margin-top:18px;}
.nav li{height:44px;float:left;font-size:15px;}
.nav li span{display:block;height:44px;line-height:44px;width:200px;padding-left:10px;color:#fff;background:#b1191a;}
.a_nav{display:block;height:44px;line-height:44px;padding:0 20px;}
.a_nav:hover{background:#b1191a;color:#fff;}

/*内容第一部分左侧菜单栏样式*/
.menu{width:199px;padding-right:11px;background:#c81623;position:relative;z-index:1;}
.menu li{font-size:14px;line-height:31px;color:#fff;
		padding-left:10px;position:relative;}
.bg_list{width:6px;height:7px;background:url(/html/jd/img/hua_bg.png) -8px 0;
		position:absolute;right:1px;top:50%;margin-top:-3px;}
.menu .show_list{background:#fff;color:#c81623;}
.siderbar{width:300px;height:300px;background:#fff;
		position:absolute;right:-300px;top:0;display:none;
		text-align:center;line-height:300px;font-size:50px;}
/*内容第一部分中间广告部分样式*/
.banner{position:relative;margin:12px 0 0 10px; width:512px; height:456px; overflow:hidden; }
.banner ul{ position:absolute; left:0; top:0;   }
.banner ul li{ float:left; width:520px; }
.change_btn{position:absolute;left:0;bottom:0;
		height:34px;width:100%;}	
.p_dingwei a{display:block;}
.change_btn p{width:135px;margin:0 auto;margin-top:8px;}
.change_btn span{float:left;width:18px;height:18px;color:#fff;
				background:url(/html/jd/img/num_bg.png) -18px top;
				text-align:center;line-height:18px;
				margin-right:4px;cursor:pointer;}	
.change_btn .btn_pos{background-position:left top;}
/*内容第一部分右边样式*/
.content_tr{width:248px;border:1px solid #e4e4e4;border-bottom:none;
			margin-top:12px;overflow:hidden;}
.content_tr h4{height:43px;line-height:43px;padding:0 15px;
			border-bottom:1px dotted #e4e4e4;font-size:16px;}
.content_tr .more{font-size:12px;margin-left:110px;}
.more:hover{color:#c81623;}
.tehui{padding:8px 0 8px 15px;border-bottom:1px dashed #e4e4e4;}
.tehui li{line-height:27px;}
.tehui i{font-weight:bold;}
.tehui a:hover{color:#c81623;}

.life{margin-right:-6px;}
.life li{float:left;width:62px;height:70px;
		border-right:1px solid #e4e4e4;
		border-bottom:1px solid #e4e4e4;}
.life li a{display:block;width:100%;height:100%;text-align:center;
			padding-top:48px;position:relative;}
.life a:hover{color:#c81623;}
.life i{position:absolute;top:0;left:0;width:62px;height:38px;}
.list1{background:url(/html/jd/img/life_bg.png);}
.list2{background:url(/html/jd/img/life_bg.png) -62px top;}
.list3{background:url(/html/jd/img/life_bg.png) -124px top;}
.list4{background:url(/html/jd/img/life_bg.png) -186px top;}
.list5{background:url(/html/jd/img/life_bg.png) left -38px;}
.list6{background:url(/html/jd/img/life_bg.png) -62px -38px;}
.list7{background:url(/html/jd/img/life_bg.png) -124px -38px;}
.list8{background:url(/html/jd/img/life_bg.png) -186px -38px;}

/*第一部分标题样式*/
.title{font-size:20px;margin:20px 0 12px;}
.title img{margin-left:14px;}
.title a{font-size:12px;padding:3px 23px 4px 0;
	background:url(/html/jd/img/bianyibian.png) no-repeat right center;}

.like{width:986px;height:201px;padding:20px 1px 10px 1px;border:1px solid #e4e4e4;position:relative;}
.ulike{width:197px;float:left;}
.ulike img{margin:0 35px 0 32px;}
.ulike p{padding:0 38px 0 36px;border-right:1px solid #e4e4e4;margin-top:10px;}
.name{line-height:18px;}
.price{color:#c81623;display:inline-block;margin-top:8px;font-size:13px;}
.ulike .border_r{border-right:none;}
.kuang_d{background:url(/html/jd/img/kuang_d.png);width:990px;height:5px;
		position:absolute;top:-3px;left:-1px;}

/*第二部分标题样式*/
.cont2{padding-top:20px;}
.title2 i{width:27px;height:15px;padding:10px 0 0 4px;
		background:url(/html/jd/img/cont2.png) left -35px;color:#fff;}
.title2 b{font-size:20px;margin:4px 0 0 9px;}
.title2 a:hover{color:#c81623;}
.title2 a:hover i{background-position:left top;}

.cont2_t{border-top:1px solid #ededed;height:34px;cursor:pointer;}
.cont2_t li{float:left;position:relative;height:34px;}
.cont2_t span{padding:0 15px;border-right:1px solid #ccc;
	line-height:34px;font-size:12px;margin-right:-1px;}
.cont2_t .cont2_last{border-right:none;}

/*第二部分内容样式*/
.content2{border-bottom:1px solid #e4e4e4;
		border-top:1px solid #c81623;}
.cont2_l{position:relative;borer-bottom:1px solid #e4e4e4;height:473px;overflow:hidden;}
.opa1{background:#fff;position:absolute;bottom:0;left:0;
		width:100%;height:128px;
		opacity:0.5;filter:alpha(opacity:50);}
.opa1_p{position:absolute;bottom:0;left:0;}
.opa1_p p{width:120px;float:left;margin-left:25px;margin-bottom:22px;}
.opa1_p a{float:left;margin:12px 11px 0 0;}
.col_c8{color:#c81623;}
.opa1_p a:hover{color:#c81623;}
.opa2{background:#fff;position:absolute;bottom:128px;left:0;
		width:100%;height:92px;
		opacity:0.2;filter:alpha(opacity:20);}
.opa2_p p{width:295px;height:72px;font-size:14px;
	padding:10px 0 10px 25px;position:absolute;bottom:128px;left:0;}
.opa2_p i{width:26px;height:26px;}
.opa2_bg1{background:url(/html/jd/img/cont2_b.png) left top;}
.opa2_bg2{background:url(/html/jd/img/cont2_b.png) left -26px;}
.opa2_bg3{background:url(/html/jd/img/cont2_b.png) left -52px;}
.opa2_bg4{background:url(/html/jd/img/cont2_b.png) left -78px;}
.opa2_bg5{background:url(/html/jd/img/cont2_b.png) left -104px;}
.opa2_bg6{background:url(/html/jd/img/cont2_b.png) left -130px;}
.opa2_p b{margin:8px 0 0 5px;}
.opa2_p a{float:left;margin-right:17px;}
.mar_t20{margin-top:20px;}

/*第二部分中间样式*/
.cont2_m{width:439px;border-right:1px solid #e4e4e4;}
.cont2_mt{display:block;border-bottom:1px solid #e4e4e4;}
.cont2_r{border-right:1px solid #e4e4e4;}

.cont2_t .show_bor{border:1px solid #c81623;border-top:3px solid #c81623;border-bottom:0;background:#fff;top:-2px;color:#c81623;}
.cont2_t .show_bor span{color:#c81623;border-right:0;}			

/*第三部分样式*/
.cont3{background:#f3f3f3;height:40px;padding:13px 0;margin:10px auto;}
.cont3 li{border-right:1px dotted #ccc;float:left;padding:0 18px;}
.cont3 .cont3_last{border-right:0;}

/*今日抄底样式*/
.chaodi_l{width:680px;}
.chaodi_r{width:310px;}
.xiyiji{width:193px;padding:20px 17px 0 29px;height:261px;border:1px solid #ededed;border-top:0;}
.xiyiji a{margin-left:20px;}
.xiyiji p{margin-top:34px;}
.price{font-weight:bold;}

.chaodi_lm{margin-right:-1px;}
.chaodi_lm li{width:219px;padding-top:20px;height:120px;float:left;
		border:1px solid #ededed;border-top:0;border-left:0;}
.chaodi_lm .name2{width:90px;line-height:19px;margin:5px 0 0 10px;}
.wid439{width:439px;}
.chaodi_l2{border-top:1px solid #e5e5e5;}

.big_shaidan{border:1px solid #e4e4e4;border-left:0;padding-bottom:5px;}
.shaidan{margin-top:38px;}
.shaidan i{margin:7px 0 0 8px;}
.shaidan img{margin-left:5px;}
.shaidan div{margin-left:15px;}
.shaidan p{width:120px;height:43px;background:url(/html/jd/img/p_bg.png);
		margin-top:5px;padding:10px 26px 0;line-height:18px;}
/*底部样式*/
.footer_t{height:70px;background:#f5f5f5;margin-top:20px;padding-top:24px;}
.fot1{padding-left:14px;}
.fot1 li{float:left;margin-right:34px;}

.fot_m{padding-top:25px;}
.fot_m dl{width:144px;float:left;}
.fot_m dt{font-size:16px;margin-bottom:14px;}
.fot_m dd{margin-bottom:8px;} 
.fot_m a:hover{color:#c81623;}

.mar_fu{margin-top:-12px;}

.fot_b{border-top:1px solid #e5e5e5;margin-top:20px;}
.fot_b p{text-align:center;}
.fot_bp1{margin:23px 0 16px;}
.fot_bp2{margin-bottom:6px;}
.fot_bp1 a,.fot_b span{padding:0 14px 0 10px;}
.fot_b_bg{background:url(/html/jd/img/a_bg.png) no-repeat right center;}
.fot_b a:hover{color:#c81623;}
.fot_bL{margin-top:13px;}
.fot_bL a{margin-right:13px;}